/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 oct. 2022, 13:08:15
    Author     : manny.joubert
*/

img {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}